<%= link_to pet_path(pet), class: "pet-card-btn" do %>
  <div class="pet-profile-card">

    <% if pet.pet_photos.attached? %>
      <%= cl_image_tag pet.pet_photos.first.key, class: "pet-img" %>
    <% else %>
      <img class="pet-img" src="<%= pet.dog_image %>" alt="Picture of a pet">
    <% end %>
    <%# <img class="pet-img" src="<%= pet.dog_image %>

    <div class="pet-card-content">
      <div class="pet-content-titles">
        <h5 class="pc-title"><%= owner.first_name %> & <%= pet.name %></h5>
        <p class="pc-title"><%= owner.postcode %></p>
      </div>
    <%# <button class="pet-card-btn"></button> %>
    </div>
      <% if owner.profile_picture.attached? %>
        <%= cl_image_tag owner.profile_picture.key, class: "avatar" %>
      <% else %>
        <img class="avatar" src="<%= owner.picture_url %>" alt="your profile picture">
      <% end %>
  </div>
<% end %>
