<div class="container col-10">
  <div id="profile-header" class="d-flex py-5">
    <div id="profile-header-left" class="col-5 pe-3">
      <div class="d-flex">
        <div>
          <% if @owner.profile_picture.attached? %>
            <%= cl_image_tag @owner.profile_picture.key, height: 150, width: 150, crop: :fill, :transformation=>[
              {:radius=>"max"}] %>
          <% else %>
            <img class="me-3" id="profile-picture" src="https://hwchamber.co.uk/wp-content/uploads/2022/04/avatar-placeholder.gif" alt="Sean's profile picture">
          <% end %>
        </div>
        <div class="ps-2">
          <h1><%= @owner.first_name %> & <%= @pet.name %></h1>
          <h5><i class="fa-solid fa-location-dot"></i> <%= @owner.postcode %></h5>
        </div>
      </div>
      <h4 class="pt-3">Introduction</h4>
      <p><%= @pet.name %> has a fantastic nature and loves nothing more than running through the woods and cuddling up to people. Great and well-mannered around other dogs.</p>
    </div>

    <div id="profile-header-right" class="col-7">
      <%# Carousel  %>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded-3">
              <% @pet.pet_photos.each do |photo| %>
              <%# If the index is zero add this %>
                  <% if photo === @pet.pet_photos.first %>
                    <div class="carousel-item active">
                  <% else %>
                    <div class="carousel-item">
                  <% end %>
                <%= cl_image_tag photo.key, style: 'height:auto; width:100%; border-radius: 5px', alt: "Carousel image", gravity: "center" %>
              </div>
              <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    <%# Panels container %>
    <div id="panels-container" class="d-flex">
      <%# Left Panel %>
      <div id="left-panel" class="col-7">
      <%# Attributes %>
      <div id="attributes" class="py-4 col-10">
        <%# SD: I think we might need an if statement for every attribute.
        If present, show X icon and then the attribute's value. %>
      <h4>About <%= @pet.name %> </h4>
        <div id="attributes-container" class="d-flex justify-content-between col-11">
          <div id="attributes-left">
            <p><i class="fa-solid fa-paw"></i> Breed: <%= @pet.breed %>, <%= @pet.animal_type %></p>
            <p><i class="fa-solid fa-facebook"></i> Size: <%= @pet.size %></p>
            <p><i class="fa-solid fa-paw"></i> Age: <%= @pet.age %></p>
            <p><i class="fa-solid fa-paw"></i> Sex: <%= @pet.sex %></p>
            <p><i class="fa-solid fa-paw"></i> Netuered/Spayed: <%= @pet.neutered_spayed %></p>
          </div>

          <div id="attributes-right">
            <p><i class="fa-solid fa-paw"></i> Child Friendly: <%= @pet.child_friendly %></p>
            <p><i class="fa-solid fa-paw"></i> Dog Friendly: <%= @pet.dog_friendly %></p>
            <p><i class="fa-solid fa-paw"></i> Cat Friendly: <%= @pet.cat_friendly %></p>
            <p><i class="fa-solid fa-paw"></i> Hypoallergenic: <%= @pet.hypoallergenic %></p>
            <p><i class="fa-solid fa-paw"></i> Activity Needs: <%= @pet.activity_needs %></p>
          </div>
        </div>
      </div>

      <%# Reviews %>

      <div id="reviews" class="py-5 my-5">
        <h4>Reviews</h4>
        <div id="reviews-container" class="d-flex flex-column gap-3 justify-content-around">

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>


        </div>
      </div>
    </div>

    <%# Right Panel %>
    <div id="right-panel" style="col-7">
      <%# Map %>
      <div id="map" class="mb-5">
        <img src="https://www.digitaltrends.com/wp-content/uploads/2020/02/custom-map.jpg?fit=720%2C479&p=1" alt="map placeholder" class="w-100">
      </div>

      <%# Appointments %>
      <div class="appointments-panel sticky-top sticky-offset">
          <%= render partial: 'listing_card', locals: { pet: @pet } %>
      </div>
    </div>
  </div>
  </div>
</div>
