<div class="container col-10">

<%# PROFILE HEADER %>

<div id="profile-header" class="d-flex col-7 mt-5 justify-content-center">

<%# PROFILE HEADER TOP LEFT %>
  <div id="profile-top-header-left" class="d-flex flex-column align-self-end">
    <h1 class="ps-1 pe-2"><%= @owner.first_name %> & <%= @pet.name %></h1>
    <h5 class="ps-1 pe-2"><i class="fa-solid fa-location-dot"></i> <%= @owner.postcode %></h5>
      <% if @owner.profile_picture.attached? %>
        <%= cl_image_tag @owner.profile_picture.key, height: 250, width: 250, crop: :fill, :transformation=>[
          {:radius=>"100"}] %>
      <% else %>
        <img class="me-3" id="profile-picture" src="https://hwchamber.co.uk/wp-content/uploads/2022/04/avatar-placeholder.gif" alt="Sean's profile picture">
      <% end %>
  </div>

  <%# PROFILE HEADER TOP RIGHT %>
  <div id="profile-header-top-right" class="col-12">
    <%# CAROUSEL  %>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner rounded-3">
        <% @pet.pet_photos.each do |photo| %>
        <%# If the index is zero add this %>
            <% if photo === @pet.pet_photos.first %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
          <%= cl_image_tag photo.key, style: 'height:auto; width:100%; border-radius: 50px', alt: "Carousel image", gravity: "center" %>
        </div>
        <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

  <%# ATTRIBUTE CARD %>

<div class="attributes-card col-9 mt-n3 pt-5">
  <div id="attribute-headline" class="d-flex justify-content-center ">
    <h4 class="">About <%= @pet.name %> </h4>
    </div>
      <div id="attributes" class="d-flex justify-content-evenly col-12 px-5">
        <% case @pet.animal_type %>
        <% when "Dog"  %>
          <p><i class="fa-solid fa-dog"></i> <%= @pet.breed if @pet.breed %></p>
        <% when "cat" || "Cat" %>
          <p><i class="fa-solid fa-cat"></i> <%= @pet.breed if @pet.breed %></p>
        <% else %>
          <p><%= @pet.animal_type %> <%= @pet.breed if @pet.breed %></p>
        <% end %>
        <p><i class="fa-solid fa-up-right-and-down-left-from-center"></i> <%= @pet.size.capitalize %></p>
        <p><i class="fa-solid fa-seedling"></i> <%= @pet.age %> years</p>
        <% if @pet.sex === "male" %>
          <p><i class="fa-solid fa-mars"></i> Male</p>
        <% else %>
          <p><i class="fa-solid fa-venus"></i> Female</p>
        <% end %>
        <% if @pet.sex === "male" && @pet.neutered_spayed === true %>
          <p><i class="fa-solid fa-mars"></i> Neutered</p>
        <% elsif @pet.sex === "female" && @pet.neutered_spayed === true %>
          <p><i class="fa-solid fa-scissors"></i> Spayed</p>
        <% else %>
        <% end %>
        <% if @pet.hypoallergenic === true %>
          <p><i class="fa-solid fa-hand-dots"></i> Hypoallergenic</p>
        <% end %>
        <% case @pet.activity_needs %>
          <% when "low" || "Low"  %>
            <p><i class="fa-solid fa-battery-quarter"></i> Low Energy </p>
          <% when "medium" || "Medium" %>
            <p><i class="fa-solid fa-battery-half"></i> Mid Energy </p>
          <% else %>
            <p><i class="fa-solid fa-battery-full"></i> High Energy </p>
        <% end %>
        <% if @pet.dog_friendly == true || @pet.cat_friendly == true || @pet.child_friendly == true %>
        <p>Friendly with
        <% end %>
        <% if @pet.dog_friendly == true %>
          <i class="fa-solid fa-dog" data-bs-toggle="tooltip" data-bs-placement="top" title="Dogs"></i>
        <% end %>
        <% if @pet.cat_friendly == true %>
          <i class="fa-solid fa-cat" data-bs-toggle="tooltip" data-bs-placement="top" title="Cats"></i>
        <% end %>
        <% if @pet.child_friendly == true %>
          <i class="fa-solid fa-child-reaching" data-bs-toggle="tooltip" data-bs-placement="top" title="Children"></i>
        <% end %>
        </p>
      </div>
    </div>

<%# BIO/INTRODUCTION %>
<h4 class="pt-3">Introduction</h4>
<p><%= @pet.name %> has a fantastic nature and loves nothing more than running through the woods and cuddling up to people. Great and well-mannered around other dogs.</p>





    <%# Panels container %>
    <div id="panels-container" class="d-flex">
      <%# Left Panel %>
      <div id="left-panel" class="col-7">
      <%# Attributes %>
      <div id="attributes" class="py-4 col-10">
        <%# SD: I think we might need an if statement for every attribute.
        If present, show X icon and then the attribute's value. %>
      <h4>About <%= @pet.name %> </h4>
        <div id="attributes-container" class="d-flex justify-content-between col-11">
          <div id="attributes-left" class="d-flex">
            <% case @pet.animal_type %>
            <% when "dog" || "Dog"  %>
              <p><i class="fa-solid fa-dog"></i> <%= @pet.breed if @pet.breed %></p>
            <% when "cat" || "Cat" %>
              <p><i class="fa-solid fa-cat"></i> <%= @pet.breed if @pet.breed %></p>
            <% else %>
              <p><%= @pet.animal_type %> <%= @pet.breed if @pet.breed %></p>
            <% end %>
            <p><i class="fa-solid fa-up-right-and-down-left-from-center"></i> <%= @pet.size.capitalize %></p>
            <p><i class="fa-solid fa-seedling"></i> <%= @pet.age %> years</p>
            <% if @pet.sex === "male" %>
              <p><i class="fa-solid fa-mars"></i> Male</p>
            <% else %>
              <p><i class="fa-solid fa-venus"></i> Female</p>
            <% end %>
            <% if @pet.sex === "male" && @pet.neutered_spayed === true %>
              <p><i class="fa-solid fa-mars"></i> Neutered</p>
            <% else %>
              <p><i class="fa-solid fa-scissors"></i> Spayed</p>
            <% end %>
            <p><i class="fa-solid fa-hand-dots"></i> Hypoallergenic</p>
            <% case @pet.activity_needs %>
              <% when "low" || "Low"  %>
                <p><i class="fa-solid fa-battery-quarter"></i> Low Energy </p>
              <% when "medium" || "Medium" %>
                <p><i class="fa-solid fa-battery-half"></i> Mid Energy </p>
              <% else %>
                <p><i class="fa-solid fa-battery-full"></i> High Energy </p>
            <% end %>


            <p>Friendly with
              <i class="fa-solid fa-dog" data-bs-toggle="tooltip" data-bs-placement="top" title="Dogs"></i>
              <i class="fa-solid fa-cat" data-bs-toggle="tooltip" data-bs-placement="top" title="Cats"></i>
              <i class="fa-solid fa-child-reaching" data-bs-toggle="tooltip" data-bs-placement="top" title="Children"></i>
            </p>
          </div>

          <div id="attributes-right">
          </div>
        </div>
      </div>

      <%# Reviews %>

      <div id="reviews" class="py-5 my-5">
        <h4>Reviews</h4>
        <div id="reviews-container" class="d-flex flex-column gap-3 justify-content-around">

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4 mb-5 bg-white">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>


        </div>
      </div>
    </div>

    <%# Right Panel %>
    <div id="right-panel" style="col-7">
      <%# Map %>
      <div id="map" class="mb-5">
        <img src="https://www.digitaltrends.com/wp-content/uploads/2020/02/custom-map.jpg?fit=720%2C479&p=1" alt="map placeholder" class="w-100">
        <%# <img src="https://lh6.googleusercontent.com/DAnBdkJto8zBAdQbysgmsTd0LRHO6fNurI_4C8nAdbGsfyMKvA3wKzWRyPSnJW7RaKfRqsxOiwtbvwUsuxx6P2qXtefHz-K8hF4wPE7ecMsSRfLeryJAnmzzpp3VINP2qP6nxfA" alt="map placeholder" class="w-100"> %>
        <div style="width: 100%; height: 600px;"data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class ="w-100"></div>
      </div>

      <%# Appointments %>
      <div class="appointments-panel sticky-top sticky-offset">
          <%= render partial: 'listing_card', locals: { pet: @pet } %>
      </div>
    </div>
  </div>
  </div>
</div>
