<div class="body">
  <div class="container col-10">

<%# PROFILE HEADER %>

<div id="profile-header" class="d-flex mt-5 justify-content-center me-0">
  <div class="col-10 d-flex justify-content-center">
<%# PROFILE HEADER TOP LEFT %>
  <div id="profile-top-header-left" class="d-flex flex-column align-self-end">
    <h2 class="ps-1 pe-2"><%= @owner.first_name %> & <%= @pet.name %></h2>
    <h5 class="ps-1 pe-2"><i class="fa-solid fa-location-dot"></i> <%= @pet.town %></h5>
      <% if @owner.profile_picture.attached? %>
        <%= cl_image_tag @owner.profile_picture.key, height: 250, width: 250, crop: :fill, :transformation=>[
          {:radius=>"325"}] %>
      <% elsif @owner.picture_url %>
        <%= image_tag @owner.picture_url, class: "profile-picture" %>
      <% else %>
        <img class="me-3" id="profile-picture" src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133351928-stock-illustration-default-placeholder-man-and-woman.jpg" alt="Sean's profile picture">
      <% end %>
  </div>

  <%# PROFILE HEADER TOP RIGHT %>
  <div id="profile-header-top-right" class="col-7 align-self-start">
    <%# CAROUSEL  %>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner rounded-3">
        <% @pet.pet_photos.each do |photo| %>
        <%# If the index is zero add this %>
            <% if photo === @pet.pet_photos.first %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
          <%= cl_image_tag photo.key, style: 'height:auto; width:100%; border-radius: 50px', alt: "Carousel image", gravity: "center", crop: "fill" %>
        </div>
        <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>


<%# ATTRIBUTE CARD %>
<div class="d-flex justify-content-center">
  <div class="attributes-card col-9 mt-n3 p-4">
    <div id="attribute-headline" class="d-flex justify-content-center ">
      <h4 class="pb-3">About <%= @pet.name %> </h4>
      </div>
        <div id="attributes" class="d-flex justify-content-evenly col-12 px-5">
          <% case @pet.animal_type %>
          <% when "dog" || "Dog" %>
            <p><i class="fa-solid fa-dog"></i> <%= @pet.breed.capitalize if @pet.breed %></p>
          <% when "cat" || "Cat" %>
            <p><i class="fa-solid fa-cat"></i> <%= @pet.breed if @pet.breed %></p>
          <% else %>
            <p><%= @pet.animal_type %> <%= @pet.breed if @pet.breed %></p>
          <% end %>
          <p><i class="fa-solid fa-up-right-and-down-left-from-center"></i> <%= @pet.size.capitalize %></p>
          <p><i class="fa-solid fa-seedling"></i> <%= @pet.age %> years</p>
          <% if @pet.sex === "male" %>
            <p><i class="fa-solid fa-mars"></i> Male</p>
          <% else %>
            <p><i class="fa-solid fa-venus"></i> Female</p>
          <% end %>
          <% if @pet.sex === "male" && @pet.neutered_spayed === true %>
            <p><i class="fa-solid fa-scissors"></i> Neutered</p>
          <% elsif @pet.sex === "female" && @pet.neutered_spayed === true %>
            <p><i class="fa-solid fa-scissors"></i> Spayed</p>
          <% else %>
          <% end %>
          <% if @pet.hypoallergenic === true %>
            <p><i class="fa-solid fa-hand-dots"></i> Hypoallergenic</p>
          <% end %>
          <% case @pet.activity_needs %>
            <% when "low" || "Low"  %>
              <p><i class="fa-solid fa-battery-quarter"></i> Low Energy </p>
            <% when "medium" || "Medium" %>
              <p><i class="fa-solid fa-battery-half"></i> Mid Energy </p>
            <% else %>
              <p><i class="fa-solid fa-battery-full"></i> High Energy </p>
          <% end %>
          <% if @pet.dog_friendly == true || @pet.cat_friendly == true || @pet.child_friendly == true %>
          <p>Friendly with
          <% end %>
          <% if @pet.dog_friendly == true %>
            <i class="fa-solid fa-dog" data-bs-toggle="tooltip" data-bs-placement="top" title="Dogs"></i>
          <% end %>
          <% if @pet.cat_friendly == true %>
            <i class="fa-solid fa-cat" data-bs-toggle="tooltip" data-bs-placement="top" title="Cats"></i>
          <% end %>
          <% if @pet.child_friendly == true %>
            <i class="fa-solid fa-child-reaching" data-bs-toggle="tooltip" data-bs-placement="top" title="Children"></i>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="body">
<%# BIO/INTRODUCTION %>
<div class="d-flex align-items-center justify-content-center bg-transparent">
  <div class="col-7">
    <h4 class="pt-5 py-2">👋 Intro</h4>
    <p><%= @pet.bio %></p>
  </div>
</div>

    <%# Panels container %>
    <div class="d-flex align-items-center justify-content-center">
    <div id="panels-container" class="d-flex col-7">
      <%# Left Panel %>
      <div id="left-panel" class="col-6">
      <%# Reviews %>
      <div id="reviews" class="py-5">
        <h4 class="pb-2">⭐ Reviews</h4>
        <div id="reviews-container" class="d-flex flex-column gap-4 justify-content-around">

          <div id="review-card" class="col-11 p-3 shadow-sm p-4">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of my Albert! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Victoria & Albert</a></p>
              <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4">
            <h6 class="mb-3">"I had <%= @owner.first_name %> look after Max for a weekend, and I couldn't be happier. He took her on numerous walks to the park, and she came back exhausted but very happy. <%= @owner.first_name %> clearly loves dogs, and Cleo has been wagging her tail non-stop ever since."</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Tim & Max</a></p>
              <img src="https://images.unsplash.com/photo-1596490479153-68cd194d1aeb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFuJTIwd2l0aCUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>

          <div id="review-card" class="col-11 p-3 shadow-sm p-4">
            <h6 class="mb-3">"<%= @owner.first_name %> took great care of our Bruce! <%= @pet.name %> was lovely when we had her too, loads of cuddles!”</h6>
            <div class="d-flex align-items-center justify-content-end">
              <p>from <a href="">Sarah & Fluffy</a></p>
              <img src="https://images.unsplash.com/photo-1527362950785-f487a7c1fe48?q=80&w=2784&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Victoria's Profile Picture" class="avatar-large ms-3">
            </div>
          </div>
        </div>
      </div>
    </div>


    <%# Right Panel %>
    <div id="right-panel" style="col-7">
        <h4 class="pt-5 py-2">📍 Location</h4>

      <%# Map %>
      <div id="map" class="mb-5">
        <%# <img src="https://lh6.googleusercontent.com/DAnBdkJto8zBAdQbysgmsTd0LRHO6fNurI_4C8nAdbGsfyMKvA3wKzWRyPSnJW7RaKfRqsxOiwtbvwUsuxx6P2qXtefHz-K8hF4wPE7ecMsSRfLeryJAnmzzpp3VINP2qP6nxfA" alt="map placeholder" class="w-100"> %>
        <div style="width: 100%; height: 600px;"data-controller="map" data-map-purpose="specific" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class ="w-100"></div>
      </div>

      <%# Appointments %>
      <div class="appointments-panel sticky-top sticky-offset">
          <%= render partial: 'listing_card', locals: { pet: @pet } %>
      </div>
    </div>
  </div>
  </div>
</div>
