<div class="container my-5">
  <% if @owner.pets.length > 0 %>
    <div class="profile-section">
      <div class="profile-image">
        <% if @owner.profile_picture.key %>
          <%= cl_image_tag @owner.profile_picture.key, class: "avatar-profile" %>
        <% elsif @owner.picture_url %>
          <%= image_tag @owner.picture_url, class: "avatar-profile" %>
        <% else %>
          <%= image_tag 'profile_picture_dog_placeholder.png', class: "avatar-profile" %>
        <% end %>
      </div>
      <div class="profile-welcome">
        <h1>Welcome <%= @owner.first_name %>!</h1>
      </div>

    </div>

    <div class="profile-summary">
      <div class="profile-bio">
        <h2>Profile Summary</h2>
        <ul>
          <li><p><i class="fa-solid fa-pen-to-square"></i><span>Bio </span><%= @owner.pets.first.bio %></p></li>
          <li><p><i class="fa-solid fa-clock-rotate-left"></i><span>Member since</span><%= render 'devise/registrations/active_since', owner: @owner %></p></li>
        </ul>
      </div>
    </div>

    <div class="profile-pets">
      <div class="profile-header">
        <h2>Your Pets</h2>
        <button class="btn btn-primary" data-action="click->modals#openNewPet"><i class="fa-solid fa-paw"></i> Add pet</button>
      </div>
      <div class="profile-pets-grid">
        <% @owner.pets.each do |pet| %>
          <div class="pets-card">
            <div class="pets-card-header">
              <%= image_tag 'profile_picture_dog_placeholder.png', class: "avatar" %>
              <h3><%= pet.name %></h3>
            </div>
            <div class="pets-card-content">
              <table>
                <tr>
                  <th class="table-icon-c"><i class="fa-solid fa-seedling"></i></th>
                  <th class="table-text-c"><%= pet.age %> years</th>
                </tr>
                <tr>
                  <th class="table-icon-c"><i class="fa-solid fa-spa"></i></th>
                  <th class="table-text-c"><%= pet.breed %></th>
                </tr>
                <tr>
                  <th class="table-icon-c"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></th>
                  <th class="table-text-c"><%= pet.size %></th>
                </tr>
                <tr>
                  <th class="table-icon-c"><i class="fa-solid fa-bolt"></i></th>
                  <th class="table-text-c"><%= pet.activity_needs %></th>
                </tr>
              </table>

              <!-- Initiates tooltip controller on all pet characteristics (see _pet_characteristics.html.erb for tooltips) -->
              <div class="pets-characteristics" data-controller="tooltip">
                <%= render 'pets/pet_characteristics', pet: pet %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="profile-appointments">
      <div class="profile-header">
        <h2>Your Appointments</h2>
        <button class="btn btn-primary" data-action="click->modals#openAppointment"><i class="fa-solid fa-calendar-days"></i> Add appointment</button>
      </div>
      <div class="profile-appointments-grid">
        <% appointments = [] %>
        <% @owner.pets.each do |pet| %>
          <% pet.appointments.each{|appointment| appointments.push(appointment)} %>
        <% end %>
        <% sorted_appointments = appointments.sort_by { |appointment| appointment.start_date } %> <!-- Sorts appointments based on start_date -->
        <% sorted_appointments.each do |appointment| %>
          <%= render 'appointments/card_owner', appointment: appointment %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @owner.pets.length.zero? %>
    <!-- Modal - First pet -->
    <div class="modal-custom show" data-modals-target="newPet">
  <% else %>
    <!-- Modal - Other pets (not shown by default) -->
    <div class="modal-custom" data-modals-target="newPet">
  <% end %>
      <div class="inner pets">
        <div class="modal-head">
          <h1>Add your pet</h1>
          <span><i class="fa-solid fa-circle-xmark" data-modals-target="closeBtn" data-action="click->modals#closeNewPet"></i></span>
        </div>
        <h2>Other collabradors would love to meet your furry friend!</h2>
        <% new_pet = Pet.new %>
        <%= render "pets/pet_form", pet: new_pet %>
      </div>
    </div> <!-- Note: This is the div-closing for the div-opening in the if-statement -->

  <% new_appointment = Appointment.new %>
  <%= render "appointments/appointment_modal", appointment: new_appointment %>

</div>
