<% if appointment.user %>
  <% helper = appointment.user %>
  <% helper_pet = helper.pets[0] %>
  <%= link_to pet_path(helper_pet) do %>
    <%= render 'appointments/helper_avatar', helper: helper %>
  <% end %>
  <%= link_to pet_path(helper_pet) do %>
    <%= "#{helper.first_name} & #{helper_pet.name}" %>
  <% end %>
<% elsif appointment.pending_helper %>
  <% pending_helper = User.find(appointment.pending_helper) %>
  <% helper_pet = pending_helper.pets[0] %>
  <%= link_to pet_path(helper_pet) do %>
    <%= render 'appointments/helper_avatar', helper: pending_helper %>
  <% end %>
  <%= link_to pet_path(helper_pet) do %>
    <%= "#{pending_helper.first_name} & #{helper_pet.name}" %>
  <% end %>
  <div class="appointment-buttons" data-appointments-target="appointmentButtons">
    <div id="appointment-confirm" data-action="click->appointments#confirmHelper"><i class="fa-solid fa-circle-check"></i></div>
    <div id="appointment-reject" data-action="click->appointments#rejectPendingHelper"><i class="fa-solid fa-circle-xmark"></i></div>
  </div>
<% end %>
